body { background-color:#d0e4fe; }
h1 {color:orange;text-align:center; }
.right {position: absolute;right: 0px;width: 300px;}
p {font-family:"Times New Roman";font-size:20px;}
body style="background-color:blue;"
<style>